.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  background-color: $off-black;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: $off-black;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 28rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-size: 3rem;
}

.scroll-left {
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: $green;
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
 }
 .scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: scroll-left 1s linear infinite;
  -webkit-animation: scroll-left 1s linear infinite;
  animation: scroll-left 3s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes scroll-left {
  0%   { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
 }

 .scroll-left p:hover {
  animation-play-state: paused;
}

span {
  float: left;
  width: 50%;
}