.header{
  background: #1E1E1E;
  border-bottom: 1px solid $grey;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: inherit;
  text-decoration: none;
  transition: color .3s ease;
  &:hover {
    color: $green;
  }
  h1 {
    margin: 0;
  }
}